* {
  margin: 0;
  padding: 0;
}
body {
    font-family: 'Roboto';
}
header,
footer {
  background-color: #1f2937;
  padding-bottom: 50px;
}
.main-text {
  font-weight: bolder;
  font-size: 48px;
  color: #f9faf8;
}
.sec-text,
li {
  font-size: 18px;
  color: #e5e7eb;
}
.logo {
  font-size: 24px;
  color: #f9faf8;
}
nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  margin-bottom: 50px;
}
ul {
  list-style: none;
  display: flex;
  gap: 20px;
}
button {
  background-color: #3882f6;
  width: 110px;
  padding: 3px;
  border-radius: 5px;
  border: none;
}
.placeholder {
  background-color: lightgray;
  width: 500px;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}
.colls {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.info-text {
  font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
  text-align: center;
  margin-bottom: 50px;
}
.box {
  width: 150px;
  height: 150px;
  border: #3882f6 solid 3px;
  border-radius: 5px;
  margin-bottom: 10px;
}
.item {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
section {
  padding-block: 50px;
}
.quotehere {
  background-color: #e5e7eb;
}
.quote-sec {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quote {
  font-size: 36px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  width: 800px;
}
.author {
  align-self: flex-end;
  width: 500px;
  font-weight: bolder;
  font-size: 24px;
}
.rect {
  background-color: #3882f6;
  width: 800px;
  margin-inline: auto;
  padding-inline: 50px;
  padding-block: 40px;
  border: transparent;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  margin-block: 50px;
}
.rect button {
  border: #e5e7eb solid 2px;
  width: 150px;
}
.call {
  font-size: 24px;
}
footer {
  text-align: center;
  padding-block: 40px;
  color: #e5e7eb;
  font-size: 18px;
}
